#root, .home-container {
  height: 100vh;
}

.warp {
  background: red;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 20px;
  overflow: hidden;
}

div[class*="-content"] {
  z-index: 5;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 69px - 50px);
}

.intro-words {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.intro-words > span:not(:first-child) {
  margin-left: 10px;
}

.intro-words span:nth-child(1) {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: ease 2s fadein;
}

.intro-words span:nth-child(2) {
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
  -ms-animation: fadein 2.5s; /* Internet Explorer */
  -o-animation: fadein 2.5s; /* Opera < 12.1 */
  animation: ease 2.5s fadein;
}

.intro-words span:nth-child(3) {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: ease 3s fadein;
}

.intro-words span:nth-child(4) {
  -webkit-animation: fadein 3.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3.5s; /* Firefox < 16 */
  -ms-animation: fadein 3.5s; /* Internet Explorer */
  -o-animation: fadein 3.5s; /* Opera < 12.1 */
  animation: ease 3.5s fadein;
}

.intro-words span:nth-child(5) {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: ease 4s fadein;
}

.down-arrow {
  cursor: pointer;
  position: fixed;
  bottom: 90px;
  right: 15px;
  background: initial;
  font-size: 40px;
  pointer-events: pointer;
  height: 35px;
  z-index: 67;
}

.about-content > span {
  display: block;
  position: relative;
  top: 0;
  line-height: 40px;
}

.about-content {
  position: relative;
  display: flex;
  width: 70%;
  font-size: 25px;
  text-align: center; 
}


.mountain-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;

  animation: PanToMountain 6s;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 25px;
}

.home-links a:not(:first-child) {
  margin-left: 20px;
}

.glow {
  transition: 0.4s;
}

.glow:hover {
  transition: 0.4s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

button {
  text-align: center;
  font-size: 20px;
  height: 30px;
  width: 20%;
}

.projects-list {
  display: inline-block;
  overflow: auto;
  padding: 0 10px;
  text-align: center;
  margin: 0;
  height: calc(100% - 120px);
  font-size: 0.9em;
  list-style-type: none;
}

.projects-list h1 {
  margin: 0;
  font-weight: bold;
  padding: 5px;
}

.projects-list img {
  width: 80%;
  transition: 0.4s;
  border-radius: 10px;
}

.projects-list li {
  padding: 10px;
  max-width: 750px;
}

.projects-list li:hover img {
  transition: 0.4s;
  border-radius: 10px;
  box-shadow: 0 0 20px 0px #a6cfdf;
}

.hidden {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.575);
  z-index: 6;
}

footer a {
  font-size: 40px;
}

footer a:first-child {
  margin-right: 25px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  transition: 0.4s;
  color: white;
}

.icon-container:hover  {
  border-radius: 50%;
  box-shadow: 0 0 40px 0px white;
}

.mountain-container {
  position: absolute;
  height: 500px;
  bottom: 0;
  z-index: -1;
  width: 100%;
  pointer-events: none;
}

.mountain {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.clouds {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 80vw;
  max-height: 100%;
  width: 100%;
  background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
  filter: brightness(1000%);
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.star-field {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
}

.white {
  background: #fff;
  box-shadow: 0 0 15px #fff;
}

.yellow {
  background: #efcd75;
  /* box-shadow: 120px 80px 40px 20px #efcd75; */
  box-shadow:
  0 0 60px 30px #efcd75,  /* inner white */
  0 0 100px 60px #f3ce68, /* middle magenta */
  0 0 140px 90px #efcd75; /* outer cyan */
}

.blue {
  background: #0d5ed1;
  box-shadow: 0 0 15px #0d5ed1;
}

.red {
  background: #f40a0b;
  box-shadow: 0 0 15px #f40a0b;
}

[class$="-rocket"], [class*="astronaut"], [class*="planet"] {
  pointer-events: none;
}

.astronaut, .floating-astronaut {
  position: absolute;
  height: 150px;
  width: 150px;
}

.floating-astronaut {
  animation: FloatAstronaut 10s linear infinite;
}

.flying-rocket {
  position: absolute;
  z-index: 9999;
  transform: rotate(90deg);
  animation: MoveUpDown 4s linear infinite, ExposeRocket 0.5s linear;
}

.flame {
  position: absolute;
  z-index: -1;
  bottom: -30px;
}

.speed-up {
  transition: background-color 1s;
  /* change color of flames when we speed up to next section */
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.flames {
  position: absolute;
  z-index: -1;
  bottom: 20px;
  right: 35px;
  transform: rotate(180deg);
}

.flames > .flame:nth-child(1) {
  animation: Flicker 0.5s infinite;
  left: 100px;
}

.flames > .flame:nth-child(2) {
  animation: Flicker 0.7s infinite;
  left: 125px;
}

.flames > .flame:nth-child(3) {
  animation: Flicker 0.4s infinite;
  left: 145px;
}

.flame {
  position: absolute;
  z-index: -1;
  width: 90px;
  height: 90px;
}

.warp > .flame {
  transition: filter 4s;
  /* change color of flames when we speed up to next section */
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);

}

#Raketa {
  width: 350px;
  height: 350px;
}


.far-planet {
  position: absolute;
  top: 50%;
  height: 80px;
  width: 80px;
  animation: FarPlanetPassBy 1.5s linear; 
  animation-fill-mode: forwards;
}

.close-planet {
  position: absolute;
  margin: auto;
  height: 200vh;
  width: 200vw;
  animation: ClosePlanetPassBy 1.5s linear;
  animation-fill-mode: forwards;
}

.astronaut {
  z-index: 9999;
  right: -20px;
  bottom: 95px;
}

.landed-rocket, .landing-rocket {
  position: absolute;
  right: -50px;
}

.landing-rocket {
  animation: LandRocket 2s linear; 
  animation-fill-mode: forwards;
}

.landed-rocket {
  bottom: 103px;
}

.landing-rocket .rocket-svg, .landed-rocket .rocket-svg {
  height: 300px;
  width: 300px;
}

.landing-rocket .flames {
  bottom: 6px;
  right: -3px;
}

.landing-rocket .flame {
  height: 60px;
  width: 60px;
}

.off-screen-rocket {
  position: absolute;
  transform: rotate(90deg);
  bottom: 30px;
  animation: MoveOffScreen 2s;
}

@keyframes MoveOffScreen {
  from {
    left: 32%;
  }

  to {
    left: 200%;
  }
}

@keyframes ExposeRocket {
  from {
    left: -20%;
  }

  to {
    left: 32%;
  }
}

@keyframes PanToMountain {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.pan-in {
  animation: PanToAbout 5s;
}

@keyframes PanToAbout {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.pan-out {
  position: fixed;
  animation: PanAwayFromAbout 5s;
}

@keyframes PanAwayFromAbout {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200%);
  }
}

@keyframes LandRocket {
  from {
    transform: translateY(-120%);
  }
  to {
    transform: translateY(300%);
  }
}
  
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}

@keyframes FarPlanetPassBy {
  from {
    right: -10%;
  }

  to {
    right: 120%;
  }
}

@keyframes ClosePlanetPassBy {
  from {
    right: -200vw;
  }

  to {
    right: 100%;
  }
}

@keyframes FloatAstronaut {
  from {
    left: -30%;
  }

  to {
    left: 100%;
  }

  0%, 100% {
    top: 100px;
  }
  50% {
    top: 40px;
  }

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Flicker {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}