ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#root, .home-container {
  height: 100vh;
}

a:not(.flip-card-back a) {
  color: white;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /* rem is adjusting font size according to parent (which is root) */
  font-size: clamp(1rem, 10vw, 4vh);
  overflow: hidden;
}

.about-container, .credit-images, .skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container, .credit-images {
  height: calc(100% - 69px - 50px);
}

.intro-words {
  margin-bottom: 50px;
  font-size: clamp( 1rem, 6vw, 3.5vh);
  font-weight: bolder;
  text-align: center;
}

.intro-words > span:not(:first-child) {
  margin-left: 10px;
}

.intro-words span:nth-child(1) {
  -webkit-animation: FadeIn 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: FadeIn 3s; /* Firefox < 16 */
  -ms-animation: FadeIn 3s; /* Internet Explorer */
  -o-animation: FadeIn 3s; /* Opera < 12.1 */
  animation: ease 3s FadeIn;
}

.intro-words span:nth-child(2) {
  -webkit-animation: FadeIn 3.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: FadeIn 3.5s; /* Firefox < 16 */
  -ms-animation: FadeIn 3.5s; /* Internet Explorer */
  -o-animation: FadeIn 3.5s; /* Opera < 12.1 */
  animation: ease 3.5s FadeIn;
}

.intro-words span:nth-child(3) {
  -webkit-animation: FadeIn 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: FadeIn 4s; /* Firefox < 16 */
  -ms-animation: FadeIn 4s; /* Internet Explorer */
  -o-animation: FadeIn 4s; /* Opera < 12.1 */
  animation: ease 4s FadeIn;
}

.intro-words span:nth-child(4) {
  -webkit-animation: FadeIn 4.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: FadeIn 4.5s; /* Firefox < 16 */
  -ms-animation: FadeIn 4.5s; /* Internet Explorer */
  -o-animation: FadeIn 4.5s; /* Opera < 12.1 */
  animation: ease 4.5s FadeIn;
}

.intro-words span:nth-child(5) {
  -webkit-animation: FadeIn 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: FadeIn 5s; /* Firefox < 16 */
  -ms-animation: FadeIn 5s; /* Internet Explorer */
  -o-animation: FadeIn 5s; /* Opera < 12.1 */
  animation: ease 5s FadeIn;
}

.about-content {
  position: relative;
  width: 70%;
  font-size: clamp(1rem, 6vw, 3.5vh);
  text-align: center; 
}

.about-content > span {
  display: block;
  position: relative;
  top: 0;
  line-height: 1.4em;
}

.mountain-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  animation: PanToMountain 5s;
}

.main-project {
  display: flex;
  position: absolute;
  z-index: 0;
  height: 14em;
  width: 14em;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flip-card {
  background-color: transparent;
  display: flex;
  z-index: 0;
  color: white;
  height: 99%;
  width: 99%;
  font-size: calc(0.55em + 0.6vmin);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


.flip-card-front {
  text-decoration: underline;
  border-radius: 10px;
  border: 0.5px solid #f1f1f1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(32, 37, 42, 0.889);
  transform: rotateY(180deg);
  border-radius: 10px;
  border: 0.5px solid #f1f1f1;
  box-sizing: border-box;
  padding: 20px;
}

.flip-card-front div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.752);
  border-radius: 10px;
  height: 100%;
}

.flip-card-back p {
  margin: 0;
  font-weight: 700;
}

.flip-card-back div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.flip-card-back a {
  color: rgb(0, 128, 255);
}

.flip-card-back a:hover {
  color: rgb(0, 162, 255);
}

.flip-card-back a:active {
  color: rgb(255, 255, 255);
}

.reposition-background {
  background-position: right;
  background-size: cover;
}

.home-links {
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(1rem, 6vw, 4vh);
  background: #121212e3;
  width: 100%;
  border-bottom: 0.5px solid white;
  text-align: center;
}

.expose-home-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.home-links:hover {
  cursor: pointer;
  filter: brightness(150%);
}

/* prevents Resume from being underlined */
.home-links a:nth-child(5) {
  text-decoration: none;
}

.home-links > div a {
  display: initial;
  width: 100%;
  padding: 8px;
}

.home-links > div hr {
  display: initial;
  width: 50%;
  border-radius: 100%;
}

.home-links a:not(:first-child) {
  margin-left: 2vw;
}

.ghost-div {
  height: 50.5px;
}

.hamburger {
  padding: 5px;
  fill: white;
  height: 50px;
  width: 40px;
}

.glow {
  transition: text-shadow 0.4s;
}

.glow:hover {
  transition: text-shadow 0.4s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

button {
  text-align: center;
  height: 30px;
  width: 20%;
}

.remove {
  display: none;
}

.invisible {
  opacity: 0;
}

.home-container > footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 2em;
  width: 100%;
  background: rgba(0, 0, 0, 0.575);
  z-index: 6;
}

.home-container > footer a {
  /* em is adjusting font size according to parent (which is footer) */
  font-size: 1.5em;
}

.home-container > footer a:first-child {
  margin-right: 1em;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.8em;
  width: 0.8em;
  transition: box-shadow 0.4s;
  color: white;
}

.icon-container:hover {
  box-shadow: 0 0 1em 0px white;
}

.mountain-container {
  position: absolute;
  height: 25rem;
  bottom: 0;
  z-index: -1;
  width: 100%;
  pointer-events: none;
}

.mountain {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.star-field {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
}

[class$="-rocket"], [class*="planet"], .floating-astronaut {
  pointer-events: none;
}

.floating-astronaut {
  animation: FloatAstronaut 10s linear infinite, Rotate 10s linear infinite;
}

.flying-rocket {
  position: absolute;
  z-index: 9999;
  transform: rotate(90deg);
  animation: MoveUpDown 4s linear infinite, ExposeRocket 0.5s linear;
}

.flying-rocket .rocket-svg, .off-screen-rocket .rocket-svg {
  height: 10em;
  width: 10em;
}

[class$="-rocket"] .flame {
  position: absolute;
  z-index: -1;
  height: 2em;
  width: 2em;
  top: 9.3em;
}

.speed-up {
  transition: background-color 1s;
  /* change color of flames when we speed up to next section */
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.flames {
  position: absolute;
  z-index: -1;
  transform: rotate(180deg);
  height: 10em;
  width: 10em;
  right: 2em;
}

.flames > .flame:nth-child(1) {
  animation: Flicker 0.5s infinite;
  left: 1em;
}

.flames > .flame:nth-child(2) {
  animation: Flicker 0.7s infinite;
  left: 2em;
}

.flames > .flame:nth-child(3) {
  animation: Flicker 0.4s infinite;
  left: 3em;
}

.warp > .flame {
  transition: filter 4s;
  /* change color of flames when we speed up to next section */
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

#Raketa {
  width: 350px;
  height: 350px;
}


.far-planet {
  position: absolute;
  top: 50%;
  height: 2em;
  width: 2em;
  animation: FarPlanetPassBy 1.5s linear; 
  animation-fill-mode: forwards;
}

.close-planet {
  position: absolute;
  margin: auto;
  height: 80em;
  width: 80em;
  animation: ClosePlanetPassBy 1.5s linear;
  animation-fill-mode: forwards;
}

.mountain-content .astronaut {
  position: absolute;
  bottom: 1.3em;
  z-index: 9999;
  right: 0%;
}

.landed-rocket {
  z-index: 9998;
  position: absolute;
  right: 1.5em;
  bottom: 1.55em;
}

.mountain-content .astronaut, .landed-rocket .rocket-svg {
  height: 5em;
  width: 5em;
}

.landing-rocket {
  position: absolute;
  right: -1.5vw;
  z-index: 9999;
  animation: LandRocket 1.5s linear;
  animation-fill-mode: forwards;
}

.landing-rocket .rocket-svg {
  height: 10em;
  width: 10em;
}

.home-container > .floating-astronaut {
  position: absolute;
  height: 20vh;
  width: 20vw;
}

.off-screen-rocket {
  position: absolute;
  transform: rotate(90deg);
  bottom: 30px;
  animation: MoveOffScreen 2s;
}

.pan-in-about {
  animation: PanToAbout 3s;
}

.pan-in-credits {
  animation: PanToCredits 3s;
  animation-fill-mode: forwards;
}

.pan-in-skills {
  animation: PanToSkills 3s;
}

.pan-out {
  position: fixed;
  animation: PanAwayFromAbout 3s;
}

.current-link {
  text-decoration: underline;
}

.credit-images li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit-images .astronaut, .credit-images .rocket-svg, .credit-images .floating-astronaut, .credit-images .flame, .credit-images .planet {
  left: 0;
  height: 15vh;
  width: 15vw;
}

.glow-blue {
  animation: GlowBlue 1s ease-in-out infinite alternate;
}

.glow-red {
  animation: GlowRed 2s ease-in-out infinite alternate;
}

.skills-container {
  height: calc(100vh - 3.2em);
}

.skills {
  overflow: auto;
  height: calc(100% - 2em);
  text-align: center;
  font-size: 0.7em;
  margin: 10px;
  font-weight: bolder;
  width: 96vw;
  max-width: 600px;
  min-width: 300px;
}

.skills > li:not(:first-of-type) {
  margin-top: 10px;
}

.skills img {
  width: 60px;
}

.github {
  background-color: white;
}

.category {
  border: 0.5px solid white;
  border-top: none;
  background: #36363641;
  border-radius: 10px;
  transition: all 0.4s;
}

.category > li {
  padding: 10px;
}

.hide-menu {
  transform: scaleY(0);
  height: 0;
  transform-origin: top;
  transition: transform 0.26s ease;
}

.expose-menu {
  transform: scaleY(1);
}

.title {
  position: relative;
  border: 0.5px solid white;
  background: #4f4e4ea3;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  font-size: 1.3em;
  padding: 5px;
}

.title:hover {
  filter: brightness(150%);
}

.category > li img:not(:first-of-type) {
  margin-left: 15px;
}

.arrow {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 10px;
  top: calc(1em - 1.5vh - 0.8vw);
  fill: white;
  transition: transform 0.4s;
}

.rotate {
  top: 12px;
  transform: rotate(90deg);
}

.swiper {
  bottom: 5%;
  height: 13em;
  width: 13em;
  margin: 0 10px !important;
}

.swiper-button-next, .swiper-button-prev {
  display: none !important;
}



.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: #ffffff;
}

@keyframes GlowBlue {
  from {
    filter: drop-shadow( 0 0 2px blue) drop-shadow( 0 0 2px blue) drop-shadow( 0 0 1px blue);
  }

  to {
    
    filter: drop-shadow( 0 0 6px blue) drop-shadow( 0 0 3px blue) drop-shadow( 0 0 10px blue);
  }
}

@keyframes GlowRed {
  from {
    filter: drop-shadow( 0 0 2px red) drop-shadow( 0 0 2px red) drop-shadow( 0 0 1px red);
  }

  to {
    
    filter: drop-shadow( 0 0 8px red) drop-shadow( 0 0 3px red) drop-shadow( 0 0 10px red);
  }
}

@keyframes PanToAbout {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes PanToCredits {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(4em);
  }
}

@keyframes PanToSkills {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes PanAwayFromAbout {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200%);
  }
}

@keyframes LandRocket {
  from {
    transform: translateY(-120%);
  }
  to {
    transform: translateY(400%);
  }
}
  
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}

@keyframes FarPlanetPassBy {
  from {
    right: -20%;
  }

  to {
    right: 120%;
  }
}

@keyframes ClosePlanetPassBy {
  from {
    right: -200vw;
  }

  to {
    right: 100%;
  }
}

@keyframes FloatAstronaut {
  from {
    left: -30%;
  }

  to {
    left: 100%;
  }

  0%, 100% {
    top: 100px;
  }
  50% {
    top: 40px;
  }
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Flicker {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes FadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes FadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes FadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes FadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes FadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes MoveOffScreen {
  from {
    left: 32%;
  }

  to {
    left: 200%;
  }
}

@keyframes ExposeRocket {
  from {
    left: -20%;
  }

  to {
    left: 32%;
  }
}

@keyframes PanToMountain {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media all and (min-width: 500px) {
  .hamburger, .home-links hr {
    display: none;
  }
  
  .home-links {
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: initial;
    background: rgba(0, 0, 0, 0.575);
    padding: 20px;
    border-radius: 10px;
    border-bottom: none;
    pointer-events: default;
  }

  .expose-home-links {
    display: flex!;
  }

  .home-links:hover {
    cursor: initial;
    filter: brightness(initial);
    height: initial;
  }

  .ghost-div {
    display: none;
  }

  .skills-container {
    height: calc(100vh - 4.4em);
  }
}

@media all and (min-width: 600px) {
  .swiper-button-next, .swiper-button-prev {
    display: initial !important;
  }

  .swiper-pagination {
    display: none;
  }
}